<% include header %>
    <!--购物车-->
    <div class="container">
        <div class="cart">
            <h3>全部商品</h3>
            <input type="checkbox">
            <img src="" alt="">
            <span class="p-name">联想（ThinkPad）轻薄系列E550C（012CD ）15.6英寸笔记本电</span>
            <span class="p-price">4999.00</span>
        </div>
        <div class="cart-ops pull-right">
            <span>¥4599.00</span>
            <button>结算</button>
        </div>
    </div>
    <div class="clearfix"></div>
<% include footer %>