    <!--底部-->
    <div class="footer">
        <div class="container">
            <img src="images/footer.jpg" alt="">
        </div>
    </div>
    <footer>
        <div class="container">
            <p class="text-center">Copyright © 2016</p>
        </div>
    </footer>
    <div class="trigger">
        顶部
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
