<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="shortcut">
        <div class="container">
            <ul>
                <li><a href="">你好，请登陆</a></li>
                <li><a href="">免费注册</a></li>
                <li><a href="">我的订单</a></li>
            </ul>
        </div>
    </div>
  </body>
</html>
