<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/cart.css">
  </head>
  <body>
      <!--top-->
    <div class="shortcut">
        <div class="container">
            <ul class="pull-left">
                <li><a href="javascript:;">欢迎光临Shop!</a></li>
            </ul>
            <ul class="pull-right">
                <li><a href="#">你好，请登陆</a></li>
                <li><a href="#">免费注册</a></li>
                <li><a href="#">我的订单</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="logo pull-left">
            <a href="/">Shop <span>node-express</span></a>
        </div>
        <div class="search pull-left">
            <input class="pull-left" type="search">
            <button class="pull-left">搜索</button>
        </div>
        <div class="settleup pull-right">
            <div class="cw block-center">
                <a class="text-center">我的购物车</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
   
    <!--购物车-->
    <div class="container">
        <div class="cart">
            <h3>全部商品</h3>
            <input type="checkbox">
            <img src="" alt="">
            <span class="p-name">联想（ThinkPad）轻薄系列E550C（012CD ）15.6英寸笔记本电</span>
            <span class="p-price">4999.00</span>
        </div>
        <div class="cart-ops pull-right">
            <span>¥4599.00</span>
            <button>结算</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--底部-->
    <footer>
        <div class="container">
            <p class="text-center">Copyright © 2016</p>
        </div>
    </footer>
    <div class="trigger">
        顶部
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
