<% include header %>
        <div class="nav-left">
            <ul class="nav-item">
                <li>
                    <a href="#">全部商品</a>
                </li>
                <li>
                    <a href="#">全部商品</a>
                </li>
                <li>
                    <a href="#">全部商品</a>
                </li>
            </ul>
        </div>
		<div id="mobile-main">
			<header>
				<div class="container-fluid">
					<i class="glyphicon glyphicon-list header-nav"></i>
					<h1 class="header-title text-center">Shop node</h1>
					<i class="glyphicon glyphicon-home header-home"></i>
				</div>
			</header><!-- /header -->
			<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
					<ul class="nav">
					    <li>
					    	<a href="#" class="text-center">
					    		<i class="glyphicon glyphicon-home nav-ico"></i>
					    		<p class="nav-name">首页</p>
					    	</a>
					    </li>
					    <li>
					    	<a href="#" class="text-center">
					    		<i class="glyphicon glyphicon-th-large nav-ico"></i>
					    		<p class="nav-name">分类</p>
					    	</a>
					    </li>
					    <li>
					    	<a href="/mobile/cart" class="text-center">
					    		<i class="glyphicon glyphicon-ok nav-ico"></i>
					    		<p class="nav-name">购物车</p>
					    	</a>
					    </li>
					    <li>
					    	<a href="/mobile/user" class="text-center">
					    		<i class="glyphicon glyphicon-user nav-ico"></i>
					    		<p class="nav-name">个人中心</p>
					    	</a>
					    </li>
					</ul>
			</nav>
			<div id="carousel-id" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-id" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-id" data-slide-to="1" class=""></li>
					<li data-target="#carousel-id" data-slide-to="2" class=""></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="../images/m-1.jpg">
					</div>
                    <div class="item">
						<img src="../images/m-2.jpg">
					</div>
                    <div class="item">
						<img src="../images/m-3.jpg">
					</div>
				</div>
				<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="region">
				<input class="region-search" type="text" name="" placeholder="搜索本站商品">
				<button class="region-search-btn" type="">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
			<div class="container-fluid">
				<div class="row link-btn">
					<div class="col-xs-3">
						<div class="link-btn-bg text-center center-block">
							<i class="glyphicon glyphicon-th"></i>
							<p>全部商品</p>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="link-btn-bg text-center center-block">
							<i class="glyphicon glyphicon-question-sign"></i>
							<p>帮助中心</p>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="link-btn-bg text-center center-block">
							<i class="glyphicon glyphicon-home"></i>
							<p>个人中心</p>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="link-btn-bg text-center center-block">
							<i class="glyphicon glyphicon-refresh"></i>
							<p>商城中心</p>
						</div>
					</div>
				</div>
				<div class="row link-btn link-btn2">
					<div class="col-xs-3">
						<div class="link-btn-bg text-center center-block">
							<i class="glyphicon glyphicon-phone-alt"></i>
							<p>联系我们</p>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="link-btn-bg text-center center-block">
							<i class="glyphicon glyphicon-yen"></i>
							<p>团购</p>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="link-btn-bg text-center center-block">
							<i class="glyphicon glyphicon-star"></i>
							<p>微商城</p>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="link-btn-bg text-center center-block">
							<i class="glyphicon glyphicon-glass"></i>
							<p>积分兑换</p>
						</div>
					</div>
				</div>
				<div style="padding: 20px;">
					
				</div>
			</div>
			<div class="shopcom">
				<div class="container  shopcom-m">
				</div>
			</div>
			<div style="padding: 40px;">
			</div>

		</div>
		
<% include footer %>