<% include header %>

        <nav class="nav">
            <div class="pull-left nav-left">
                <div class="nav-ico pull-left text-left">
                    <i class="glyphicon glyphicon-heart"></i>
                    <p>关注</p>
                </div>
                <div class="nav-ico pull-right">
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <p>收藏</p>
                </div>
            </div>
            <div class="pull-right nav-scart text-center pro-btn">
                <a class="">加入购物车</a>
            </div>
        </nav>
        <header>
            <div class="header-ico-f pull-left">
                <a href="javascript:history.go(-1);"><i class="glyphicon glyphicon-menu-left"></i></a>
            </div>
            <div class="header-title center-block text-center">
                商品
            </div>
        </header>
        <% data.forEach(function(data){%>
        <div class="page-content">
            <img class="center-block" src="/<%= data.imgsrc%>" alt="">
            <h4 class="page-name"><%= data.name%></h4>
            <p class="page-title"><%= data.nametitle%></p>
            <div class="page-price">¥ <span class="sprice"><%= data.price%></span></div>
            <div class="page-num">
                数量：<input class="snum" type="number" min="1" max="100" value="1">
            </div>
        </div>
        <% })%>
        <div style="padding-top:50px;"></div>
<% include footer %>