<% include header %>
        <nav class="nav">
            <div class="pull-left nav-left">
                <div class="nav-ico pull-left text-left">
                    <i class="glyphicon glyphicon-heart"></i>
                    <p>关注</p>
                </div>
                <div class="nav-ico pull-right">
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <p>收藏</p>
                </div>
            </div>
            <div class="pull-right nav-scart text-center pro-btn">
                <a class="">加入购物车</a>
            </div>
        </nav>
        <header>
            <div class="header-ico-f pull-left">
                <a href="javascript:history.go(-1);"><i class="glyphicon glyphicon-menu-left"></i></a>
            </div>
            <div class="header-title center-block text-center">
                商品
            </div>
        </header>
        <div class="page-content">
            <img class="center-block" src="/images/10.jpg" alt="">
            <h4 class="page-name">二手苹果6/plus iphone6/plus 原装极品成色，杜绝翻新，支持检测</h4>
            <p class="page-title">二手苹果6/plus iphone6/plus 原装极品成色</p>
            <div class="page-price">¥ <span>3999</span></div>
            <div class="page-num">
                数量：<input type="number" min="1" max="100" value="1">
            </div>
        </div>
        <div style="padding-top:50px;"></div>
<% include footer %>